@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <title>@ViewData["Title"] Bridge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <title>@ViewBag.Title</title>
    <style>
        html {
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted text-center">
        <span class="text-info">&copy; 2025 Bridge — Developed by Gio</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("NToastNotify")


    @RenderSection("Scripts", required: false)
</body>
</html>
